@import "tailwindcss";

/* Global CSS */
body.dark {
  background-color: #333;
  color: white;
}

/* Dark Mode for other elements */
.dark .text-black {
  color: white;
}
.dark .bg-white {
  background-color: #444;
}
